body{
    align-items: center;
    text-align: center;
    
    
}
.Red{
    display: flex;
    justify-content: center;
    align-items: center;height: 100vh;
    height: 50px;
    width: 50px;
    background-color: red;
    border-radius: 50%;
    margin: 8px;
    box-shadow: 2px 1px 15px red;

}
.Yellow{
    display: flex;
    justify-content: center;
    align-items: center;height: 100vh;
    height: 50px;
    width: 50px;
    background-color: rgb(255, 255, 0);
    border-radius: 50%;
    margin: 8px;
    box-shadow: 2px 1px 15px yellow;

}
.Green{
    display: flex;
    justify-content: center;
    align-items: center;height: 100vh;
    height: 50px;
    width: 50px;
    background-color: rgb(17, 255, 0);
    border-radius: 50%;
    margin: 8px;
    box-shadow: 2px 1px 15px green;
}
.traffic{
    background-color: black;
    border-radius: 10px;

}
.light{

    justify-content: center;
    align-items: center;
    display: flex;
}